@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply antialiased;
    background-color: #F7F8FA;
    color: #1C1C1C;
  }
}

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

